<div class="center hero-unit">
  <h1>Welcome to the Template App</h1>
  <h2>
    Home page
  </h2>
  
  
  <% if signed_in? %>
     <%= link_to "Sign Out", signout_path, method: "delete" %>
  <% else %>
  <%= link_to "Sign up Now!", signup_path, class: "btn btn-large btn-primary" %>
  <% end %>
</div>
